In [ ]:
#tipe data Numbers
a=10
print (a,'bertipe',type(a))
b=1.7
print(b, 'bertipe', type(b))
c=1+3j
print(c,'bertipe',type(c))
print(c, 'Bertipe bilangan kompleks ?', isinstance(1+3j,complex))

10 bertipe <class 'int'>
1.7 bertipe <class 'float'>
(1+3j) bertipe <class 'complex'>
(1+3j) Bertipe bilangan kompleks ? True

In [ ]:
x=[0]*10005;  #inisialisasi array 0 sebanyak 10005; x[0]=0
x[1]=1;       #x[1]=1

for j in range (2,10001):
      x[j]=x[j-1]+x[j-2]  #Fibonacci
print(x[10000])

33644764876431783266621612005107543310302148460680063906564769974680081442166662368155595513633734025582065332680836159373734790483865268263040892463056431887354544369559827491606602099884183933864652731300088830269235673613135117579297437854413752130520504347701602264758318906527890855154366159582987279682987510631200575428783453215515103870818298969791613127856265033195487140214287532698187962046936097879900350962302291026368131493195275630227837628441540360584402572114334961180023091208287046088923962328835461505776583271252546093591128203925285393434620904245248929403901706233888991085841065183173360437470737908552631764325733993712871937587746897479926305837065742830161637408969178426378624212835258112820516370298089332099905707920064367426202389783111470054074998459250360633560933883831923386783056136435351892133279732908133732642652633989763922723407882928177953580570993691049175470808931841056146322338217465637321248226383092103297701648054726243842374862411453093812206564914032751086643394517512161526545361333111314042436854805106765843493523836959653428071768775328348234345557366719731392746273629108210679280784718035329131176778924659089938635459327894523777674406192240337638674004021330343297496902028328145933418826817683893072003634795623117103101291953169794607632737589253530772552375943788434504067715555779056450443016640119462580972216729758615026968443146952034614932291105970676243268515992834709891284706740862008587135016260312071903172086094081298321581077282076353186624611278245537208532365305775956430072517744315051539600905168603220349163222640885248852433158051534849622434848299380905070483482449327453732624567755879089187190803662058009594743150052402532709746995318770724376825907419939632265984147498193609285223945039707165443156421328157688908058783183404917434556270520223564846495196112460268313970975069382648706613264507665074611512677522748621598642530711298441182622661057163515069260029861704945425047491378115154139941550671256271197133252763631939606902895650288268608362241082050562430701794976171121233066073310059947366875

In [ ]:
#List
a=[1, 2.2, 'python']
a[2]=3
print(a)

[1, 2.2, 3]

In [ ]:
#Tuple (sekali tulis)
t=(5,'program',1+3j)
print(t[1])

program

In [ ]:
#Set (item unik tanpa urutan)
a={1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [ ]:
#Dictionary adalah kumpulan pasangan kunci-nilai yang bersifat tidak berurutan.
#Dictionary dapat digunakan untuk menyimpan data kecil hingga besar
#Dictionary bukan termasuk sequence
d={1:'value','key':2}
print(type(d))
print('d[1]=',d[1])
print("d['key']=", d['key'])

<class 'dict'>
d[1]= value
d['key']= 2

In [ ]:
#Konversi antar tipe data
print(float(5))
print(int(10.6))
print(int(-10.3))
print(float('2.5'))
print(str(25))
print (set([1,2,3]))
print(tuple({5,6,7}))
print(list('hello'))
print(dict([[1,2],[3,4]]))
print(dict([(3,26),(4,44)]))

5.0
10
-10
2.5
25
{1, 2, 3}
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']
{1: 2, 3: 4}
{3: 26, 4: 44}

In [ ]:
#Variabel adalah sebuah tempat di memori komputer untuk menyimpan nilai dengan tipe data tertentu
print("Hello, World!")
x=100
print('Nilai x adalah',x)
print('hai{}'.format('bro'))
nama="Oxaichiko"
print("Halo, %s!" % nama)
nama= "Insyiraah"
umur= 22
print("Umur %s adalah %d tahun." % (nama,umur))
angka=[7,9,11,13]
print("Angka saya: %s" % angka)
nilai = input ('Masukkan angka:')
print(nilai)
print(int(nilai))
print(float(nilai))
print(eval('90+10'))

Hello, World!
Nilai x adalah 100
haibro
Halo, Oxaichiko!
Umur Insyiraah adalah 22 tahun.
Angka saya: [7, 9, 11, 13]
Masukkan angka:90
90
90
90.0
100

In [ ]:
import sys
print('Jumlah arguments:', len(sys.argv),'arguments.')
print('Argument List', str(sys.argv))
print(sys.argv[1])

Jumlah arguments: 3 arguments.
Argument List ['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-9087fe08-75bc-48d2-b752-f394766442eb.json']
-f

In [ ]:
#Ketika memberikan nilai 6 pada variabel x
x = 6
print(type(x))
#Kemudian berikan string 'hello' pada variabel x di baris selanjutnya
x='hello'
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
contoh = "Halo, Oxa"
print(type(contoh))
contoh = 19.7
print(type(contoh))

<class 'str'>
<class 'float'>

In [ ]:
#Transformasi angka, karakter, dan String
kata='Insyiraah'
kata=kata.upper()     #upper()
print(kata)

kata='ICHIKO'
kata=kata.lower()     #lower()
print(kata)

print('Insyiraah      '.rstrip())           #rstrip()
print('           OXA'.lstrip())            #lstrip()
print('     Insyiraah       '.strip())      #strip()
kata='CodeCodeDicodingCodeCode'
print(kata.strip('Code'))                   #Menghilangkan karakter tertentu
print('Dicoding Indonesia'.startswith('Dicoding'))
print('Dicoding Indonesia'.endswith('Indonesia'))
print(' '.join(['Dicoding','Indonesia','!']))       #join() untuk menggabungkan string
print('123'.join(['Dicoding','Indonesia','!']))
print('Dicoding Indonesia !'.split())               #split() untuk memisahkan substring
#Menggunakan split() untuk memisahkan setiap baris pada string multiline
print('''Halo,
aku ikan,
aku suka sekali menyelam
aku tinggal di perairan.
Badanku licin dan renangku cepat.
Senang berkenalan denganmu.'''.split('\n'))

string="Ayo belajar Coding di Dicoding"         #replace() untuk mengganti string
print(string.replace("Coding","Pemrograman"))

string="Ayo belajar  Coding di Dicoding karena Coding adalah bahasa masa depan"
print(string.replace("Coding","Pemrograman",1))   #Opsional:Paremeter ketiga pada replace dapat diisi jumlah subrtring yang ingin diganti

kata="DICODING"
kata.isupper()      
                    #isupper()
kata="Dicoding"
kata.isupper()

kata='dicoding'
kata.islower()
                  #islower
kata='Dicoding'
kata.islower()

#Bahkan kita bisa melakukan operasi pada hasil operasinya(chain of method)
print('Dicoding'.upper().lower())
print('Dicoding'.lower().upper())
print('Dicoding'.upper().lower().islower())
print('Dicoding'.upper().lower().isupper())

'dicoding'.isalpha()      #isalphha()   huruf alphabet
'dicoding123'.isalnum()   #isalnum()    alfanumerik
'12345'.isdecimal()       #isdecimal()  hanya angka/numerik 
'     '.isspace()         #isspace()    hanya karekter whitespace
'Dicoding Indonesia'.istitle()   #istitle()    huruf kapital di setiap awal kata dan dilanjutkan huruf kecil seterusnya

INSYIRAAH
ichiko
Insyiraah
OXA
Insyiraah
Dicoding
True
True
Dicoding Indonesia !
Dicoding123Indonesia123!
['Dicoding', 'Indonesia', '!']
['Halo,', 'aku ikan,', 'aku suka sekali menyelam', 'aku tinggal di perairan.', 'Badanku licin dan renangku cepat.', 'Senang berkenalan denganmu.']
Ayo belajar Pemrograman di Dicoding
Ayo belajar  Pemrograman di Dicoding karena Coding adalah bahasa masa depan
dicoding
DICODING
True
False

True

In [ ]:
while True:
    print('Masukkan nama Anda:')
    name = input()
    if name.isalpha():
       print("Halo", name)
       break
    print('Masukkan nama Anda dengan benar.')

Masukkan nama Anda:
Oxaichiko
Halo Oxaichiko

In [ ]:
#Cohtoh 1: Penggunaan zfill  5 pada angka satuan
angka = 5
print (str(angka).zfill(5));
#Contoh 2: Penggunaan zfill 5 pada angka ratusan
angka = 300
print(str(angka).zfill(5));
#Contoh 3: Penggunaan zfill 5 pada angka desimal negatif (memiliki koma)
angka=-0.45
print(str(angka).zfill(5));
#Contoh 4: Penggunaan zfill 7 pada angka desimal negatif (memiliki koma)
angka = -0.45
print(str(angka).zfill(7));

00005
00300
-0.45
-000.45

In [ ]:
#Penerapan zfill pada String
#Contoh 1
kata = 'aku'
print (kata.zfill(5));
#Contoh 2
kata = 'kamu'
print(kata.zfill(5));
#contoh3
kata='dirinya'
print(kata.zfill(5));

00aku
0kamu
dirinya

In [ ]:
#Teks rata kanan/kiri/tengah dengan rjust(),ljust(), dan center()
'Dicoding'.rjust(20)
'Dicoding'.ljust(20)
'Dicoding'.ljust(20, '!')
'Dicoding'.center(20)

'      Dicoding      '

In [ ]:
'Dicoding'.center(20,'-')

'------Dicoding------'

In [ ]:
st1 = "Jum'at"
print(st1)

Jum'at

In [ ]:
print('Halo!\nKapan terakhir kali kita bertemu?\nKita bertemu hari Jum\'at yang lalu.')

Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum'at yang lalu.

In [ ]:
print(r'Dicoding\tIndonesia')

Dicoding\tIndonesia

In [ ]:
contoh_list = [1,3,3,5,5,5,7,7,9]
print(contoh_list)
print(len(contoh_list))

contoh_set = set([1,3,3,5,5,5,7,7,9])
print(contoh_set)
print(len(contoh_set))

contoh_string = "Belajar Python"
print(contoh_string)
print(len(contoh_string))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9
{1, 3, 5, 7, 9}
5
Belajar Python
14

In [ ]:
angka =  [13,724,5,96,84,71,11,38]
print(min(angka))
print(max(angka))

5
724

In [ ]:
#Count() untuk mengtahui berapa kali suatu objek muncul dalam list
genap = [2,4,4,6,6,6,8,10,10]
print(genap.count(6))
string="Belajar Python di Dicoding sangat menyenangkan"
substring = "a"
print(string.count(substring))

3
6

In [ ]:
#Penggabungan
angka = [2,4,6,8]
huruf = ['P','Y','T','H','O','N']
gabung = angka + huruf
print(gabung)

#Replikasi
learn = ['P','Y','T','H','O','N']
replikasi = learn * 2
print(replikasi)

[2, 4, 6, 8, 'P', 'Y', 'T', 'H', 'O', 'N']
['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print([_ for _ in range(0,20,5)])

[0, 5, 10, 15]

In [ ]:
kalimat = "Belajar Python di Dicoding sangat menyenangkan"
print('Dicoding' in kalimat)
print('tidak' in kalimat)
print('Dicoding'not in kalimat)
print('tidak' not in kalimat)

True
False
False
True

In [ ]:
#Memberikan nilai untuk multiple variable
data = ['shirt', 'white', 'L']
apparel = data[0]
color = data[1]
size = data[2]

data = ['shirt', 'white', 'L'] #from List
apparel, color, size = datadata = ('shirt', 'white', 'L') #from Tuple
apparel, color, size = data

apparel, color ='shirt', 'white'
apparel, color = color = color, apparel
print(apparel)
print(color)

angka = [100, 1000, 500, 200,5]
angka.sort()
print(angka)

white
('white', 'shirt')
[5, 100, 200, 500, 1000]

In [ ]:
#Sort untuk mrngurutkan angka atau huruf
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort()
print(kendaraan)

kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort(reverse=True)
print(kendaraan)

#Sort menggunakan urutan ASCII, sehingga nilai huruf kapital akan lebih dahulu dibandingkan huruf kecil
kendaraan = ['motor', 'mobil', 'helikopter', 'Pesawat']
kendaraan.sort()
print(kendaraan)

kendaraan = ['Motor', 'Mobil', 'helikopter', 'pesawat']
kendaraan.sort(key=str.lower)
print(kendaraan)

['helikopter', 'mobil', 'motor', 'pesawat']
['pesawat', 'motor', 'mobil', 'helikopter']
['Pesawat', 'helikopter', 'mobil', 'motor']
['helikopter', 'Mobil', 'Motor', 'pesawat']

In [ ]:
#Penggunaan le, lt, gt, ge, eq, ne
from operator import*
hijau = 5
kuning = 10
print ('Kelereng Hijau = {}'.format(hijau))
print ('Kelereng Kuning = {}'.format(kuning))
for func in (lt, le, eq, ne, ge, gt):
    print('{}(hijau, kuning): {}'.format(func.__name__, func(hijau, kuning)))

Kelereng Hijau = 5
Kelereng Kuning = 10
lt(hijau, kuning): True
le(hijau, kuning): True
eq(hijau, kuning): False
ne(hijau, kuning): True
ge(hijau, kuning): False
gt(hijau, kuning): False

In [ ]:
a = 2
q = a * 3
#dapat dituliskan sebagai
a = 2
a *=3

In [ ]:
kelerengku = 10
if kelerengku:
  print("Cetak ini jika benar")
  print(kelerengku)

Cetak ini jika benar
10

In [ ]:
tinggi_badan = int(input("Masukkan tinggi badan Anda : "))
if tinggi_badan>=160:
  print("Silakan, Anda boleh masuk")
else:
  print("Maaf, Anda belum boleh masuk")

Masukkan tinggi badan Anda : 163
Silakan, Anda boleh masuk

In [ ]:
bilangan = 4
if bilangan % 2 == 0:
    print('Bilangan {} adalah genap'.format(bilangan))
else:
  print('Bilangan {} adalah ganjil'.format(bilangan))

Bilangan 4 adalah genap

In [ ]:
nilai = int(input("Masukkan nilai tugas Anda : "))
if nilai>80:
  print("Selamat! Aanda mendapat nilai A")
  print("Pertahankan!")
elif nilai>70:
  print("Hore! Anda mendapat nilai B")
  print("Tingkatkan!")
elif nilai>60:
  print("Hm.. Anda mendapat nilai C")
  print("Ayo semangat!")
else:
  print("Waduh, Anda mendapat nilai D")
  print("Yuk belajar lebih giat lagi!")

Masukkan nilai tugas Anda : 99
Selamat! Aanda mendapat nilai A
Pertahankan!

In [ ]:
for huruf in 'Dicoding':
  print('Huruf: {}'.format(huruf))

flowers = ['mawar', 'melati', 'anggrek']
for flower in flowers: 
    print('Flower:{}'.format(flower))

Huruf: D
Huruf: i
Huruf: c
Huruf: o
Huruf: d
Huruf: i
Huruf: n
Huruf: g
Flower:mawar
Flower:melati
Flower:anggrek

In [ ]:
flower = ['mawar', ' melati', 'anggrek']
for index in range(len(flowers)):
  print('Flower:{}'.format(flowers[index]))

Flower:mawar
Flower:melati
Flower:anggrek

In [ ]:
count = 0
while (count < 7):
  print('Hitungannya adalah: {}'.format(count))
  count = count + 1

Hitungannya adalah: 0
Hitungannya adalah: 1
Hitungannya adalah: 2
Hitungannya adalah: 3
Hitungannya adalah: 4
Hitungannya adalah: 5
Hitungannya adalah: 6

In [ ]:
|